* {
  font-family: Roboto;
  outline: 2px solid red;
  box-sizing: border-box;
}
.blue-background {
  background-color: #1f2937;
}
.quote-section {
  color: #1f2937;
  background-color: #e5e7eb;
}
.header-container {
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.header-container-right {
  display: flex;
  justify-content: space-evenly;
}
.hero-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  gap: 16px;
}
.hero-image{
    margin-right: 50px;
}
.hero-text {
  margin-left: 50px;
  max-width: 500px;
  padding: 8px;
}
.hero-main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 10px;
}
.hero-secondary-text {
  color: #e5e7eb;
  font-size: 18px;
  margin-top: 10px;
}
